@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Bold.eot');
    src: url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato/Lato-Bold.ttf') format('truetype'),
        url('../fonts/Lato/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.eot');
    src: url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('../fonts/Lato/Lato-Hairline.eot');
    src: url('../fonts/Lato/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato/Lato-Hairline.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Hairline.woff') format('woff'),
        url('../fonts/Lato/Lato-Hairline.ttf') format('truetype'),
        url('../fonts/Lato/Lato-Hairline.svg#Lato-Hairline') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Italic.eot');
    src: url('../fonts/Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato/Lato-Italic.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Italic.woff') format('woff'),
        url('../fonts/Lato/Lato-Italic.ttf') format('truetype'),
        url('../fonts/Lato/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Black.eot');
    src: url('../fonts/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato/Lato-Black.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Black.woff') format('woff'),
        url('../fonts/Lato/Lato-Black.ttf') format('truetype'),
        url('../fonts/Lato/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Light.eot');
    src: url('../fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Light.woff') format('woff'),
        url('../fonts/Lato/Lato-Light.ttf') format('truetype'),
        url('../fonts/Lato/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Bold.eot');
    src: url('../fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceSansPro/SourceSansPro-Bold.woff2') format('woff2'),
        url('../fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'),
        url('../fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype'),
        url('../fonts/SourceSansPro/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot');
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceSansPro/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype'),
        url('../fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Light.eot');
    src: url('../fonts/SourceSansPro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceSansPro/SourceSansPro-Light.woff2') format('woff2'),
        url('../fonts/SourceSansPro/SourceSansPro-Light.woff') format('woff'),
        url('../fonts/SourceSansPro/SourceSansPro-Light.ttf') format('truetype'),
        url('../fonts/SourceSansPro/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-SemiBold.eot');
    src: url('../fonts/SourceSansPro/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceSansPro/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('../fonts/SourceSansPro/SourceSansPro-SemiBold.woff') format('woff'),
        url('../fonts/SourceSansPro/SourceSansPro-SemiBold.ttf') format('truetype'),
        url('../fonts/SourceSansPro/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

